* {
    box-sizing: border-box; 
}


/* --- Estilos del login --- */
.body-login {
    /* Todo el estilo queda acá */
    background-color: #121212; 
    color: #00ff41; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url('gif/cosmos_1577232550.gif'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Títulos y párrafos del login verdes */
.body-login h1, .body-login p {
    color: #00ff41;
}

.body-login label{
    color: #02200a;
}

.login-container {
    background-color: #1a1a1a;
    padding: 40px;
    border: 2px solid #023f11;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 255, 65, 0.2);
    max-width: 500px;
}

.grupo-input {
    margin-bottom: 20px;
    text-align: left;
    display: block;      /* ¡La clave! Hace que el título ocupe su propia línea */
    margin-bottom: 8px;  /* Le da un espacio lindo hacia abajo para que no sople al recuadro */

}

input {
    display: block;
    width: 100%;
    padding: 10px;
    background: #000;
    border: 1px solid #02300d;
    color: #00ff41;
    margin-top: 5px;
    border-radius: 15px;
}

#codigo{
    max-width: 150px; 
}

.btn-mision {
    background-color: #00ff41;
    color: black;
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    border-radius: 20px;
}

.btn-mision:hover {
    background-color: white;
    box-shadow: 0 0 40px rgb(5, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace; 
    /* Body base sin colores para que el manual no se "contamine" */
    background-color: #ffffff; 
    color: #000000;
}

h1{
    color: #00ff41;
    text-align: center;
    text-decoration: underline;

}



